<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<nav>
    		<ul>
			{% for item in site.data.navigation %}
        		<li><a href="{{ item.link }}"> {{ item.name }}</a></li>
			{% endfor %}
    		</ul>
		</nav>
		<div class="container">
		{{ content }}
		</div><!-- /.container -->
		<footer>
    			<ul>
			<li><a href="https://twitter.com/ARagnvaldN" class="fa fa-twitter"></a></li>
			<li><a href="mailto:contact@andreasnylund.com" class="fa fa-envelope"></a></li>
        		<li><a href="https://github.com/ARagnvaldN" class="fa fa-github"></a></li>
        		<li><a href="https://linkedin.com/in/andreas-nylund-bb002772" class="fa fa-linkedin"></a></li>
			</ul>
		</footer>
	</body>
</html>
